src/main/resources/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="epaperRequest">
        <xs:complexType>
            <xs:all>
                <xs:element name="deviceInfo" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="screenInfo" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:long" name="width"/>
                                            <xs:attribute type="xs:long" name="height"/>
                                            <xs:attribute type="xs:long" name="dpi"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="osInfo" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="name"/>
                                            <xs:attribute type="xs:string" name="version"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="appInfo" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element type="xs:string" name="newspaperName" minOccurs="1" maxOccurs="1"/>
                                        <xs:element type="xs:string" name="version" minOccurs="1" maxOccurs="1"/>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                        <xs:attribute type="xs:string" name="name"/>
                        <xs:attribute type="xs:string" name="id"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="getPages" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute type="xs:long" name="editionDefId"/>
                                <xs:attribute type="xs:date" name="publicationDate"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>